<!DOCTYPE html>
<html lang="en">
<head>
     <title>Virtual Trail Romm</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> 
     
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bytewebster-style.css') }}"> 
     
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1 style="font-size: 55px;">Category...</h1>
                              <div class="category-item">
                                   <span style="color:black">Traditional</span>
                                   <button><a href="traditional" role="button">Try Now!!</a></button>
                              </div>
<br>
                              <div class="category-item">
                                   <span style="color:black">Western</span>
                                   <button><a href="western" role="button">Try Now!!</a></button>
                              </div>
<br>
                              <div class="category-item">
                                   <span style="color:black">Casual</span>
                                   <button><a href="casual" role="button">Try Now!!</a></button>

                              </div>

                              


     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>